
div {color: red}

body {background-color: greenyellow}

button {
    background-color: blue;
    color: whitesmoke
}
/*
img {background-image: url("voetbal.jpg");opacity: 0.5; filter: alpha(opacity=50);}*/


